<div class="secondary">
  <section>

    <article>
      <figure>
        <img src="/static/img/images-1.jpg" alt="" title="A screenshot of the interface design" />
        <figcaption>Virginia Governor Ralph Northam calls on state to move past racist legacy of last few weeks</p>
      </figure>
    </article>

    <aside>
      <ul class="image-tn">
        <li><a href="/static/img/images-2.jpg"><img src="/static/img/images-2.jpg" alt="" title="William Barr Declares Mueller Investigation Fully Exonerates Members Of Reagan Administration From Iran-Contra Involvement" /></a></li>
        <li><a href="/static/img/images-3.jpg"><img src="/static/img/images-3.jpg" alt="" title="Shocked Vladimir Putin Slowly Realizing He Didn’t Conspire With Trump Campaign" /></a></li>
        <li><a href="/static/img/images-4.jpg"><img src="/static/img/images-4.jpg" alt="" title="Compassionate Trump Issues Full Presidential Pardon For Robert Mueller" /></a></li>
        <li><a href="/static/img/images-5.jpg"><img src="/static/img/images-5.jpg" alt="" title="Trump Ramps Up Attacks On John McCain By Dragging Senator’s Exhumed Corpse Behind Motorcade" /></a></li>
        <li><a href="/static/img/images-6.jpg"><img src="/static/img/images-6.jpg" alt="" title="Devin Nunes Threatens Defamation Lawsuit After Reputation Ruined By His Official Twitter Account" /></a></li>
        <li><a href="/static/img/images-7.jpg"><img src="/static/img/images-7.jpg" alt="" title="Trump: ‘Any Shooting Actually Inspired By Me Would Have Left Thousands Dead’" /></a></li>
        <li><a href="/static/img/images-8.jpg"><img src="/static/img/images-8.jpg" alt="" title="President’s Cathartic Words Help Nation Begin To Heal Following Yet Another Senseless ‘Saturday Night Live’" /></a></li>
        <li><a href="/static/img/images-9.jpg"><img src="/static/img/images-9.jpg" alt="" title="Beto O’Rourke Announces Hes Starting Obama Cover Campaign" /></a></li>
        <li><a href="/static/img/images-10.jpg"><img src="/static/img/images-10.jpg" alt="" title="New Iowa Poll Finds Majority Of Democrats Would Vote For Candidate Named ‘Bobby Cheeseburger’" /></a></li>
      </ul>
      <p>Find more stories</p>
      <p><img src="/static/img/interface-logos.jpg" alt="" title="Links to content on external sites" /></p>
    </aside>

  </section>
</div>